[Desktop Entry]
Version=1.0
Type=Application
Name=getBible.live
Comment=Read and study Scripture
Exec=/opt/getbible-live/getbible_life %u
Icon=life.getbible.mobile
Terminal=false
Categories=Education;
MimeType=x-scheme-handler/getbible;
StartupWMClass=life.getbible.mobile
