[Desktop Entry]
Version=1.0
Type=Application
Name=getBible
Comment=Read and study Scripture
Exec=/opt/getbible/getbible %u
Icon=life.getbible.mobile
Terminal=false
Categories=Education;
MimeType=x-scheme-handler/getbible;
StartupWMClass=life.getbible.mobile
